body {
  background: #3da3d5;
  font-size: 16px;
  color: rgb(55, 54, 54);
}

.title {
  font-size: 15em;
  text-align: center;
  margin-bottom: 175px;
}

.vertical-timeline-element-content {
  box-shadow: 0 0.25rem 0.5em 0 rgba(0, 0, 0, 0.25), 0 0.4rem 1.25em 0 rgba(0, 0, 0, 0.15) !important;
  padding: 2em 3 em !important;
}

.date {
  color: rgb(201, 251, 255)
}

#description {
  margin: 1.5rem 0 2em 0;
}

.button {
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 5px;
  color: white;
}

.basicButton {
  background-color: #06d6a0;
}

.basicButton:hover {
  background-color: #0ac593;
}

.advanceButton {
  background-color: #f9c74f;
}

.advanceButton:hover {
  background-color: #f3bc3c;
}